html{
  background: linear-gradient(27deg, rgba(0,255,192,1) 34%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 69%);
}

.alles {
  margin: 0;
  width: 127px;
  position: relative;
  font-size: inherit;
  line-height: 31px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  white-space: nowrap;
}
.national-geographic-logo {
  width: 84px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 0.5px;
  box-sizing: border-box;
}
.home {
  align-self: stretch;
  position: relative;
  cursor: pointer;
}
.function-caller {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 16px 0 0;
  box-sizing: border-box;
}
.about {
  align-self: stretch;
  position: relative;
  cursor: pointer;
}
.function-caller1 {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 16px 0 0;
  box-sizing: border-box;
}
.testimonial {
  align-self: stretch;
  position: relative;
  cursor: pointer;
}
.function-caller2 {
  width: 103px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 16px 0 0;
  box-sizing: border-box;
}
.learning1 {
  align-self: stretch;
  position: relative;
}
.function-caller3 {
  width: 71px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
  box-sizing: border-box;
  color: #05182a;
}
.else-statement {
  width: 12px;
  position: relative;
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}
.contact {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}
.function-caller4 {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
  box-sizing: border-box;
}
.sequence-controller {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.input-filter,
.iterative-processor,
.nav {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.iterative-processor {
  width: 490px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: rgba(5, 24, 42, 0.6);
}
.input-filter,
.nav {
  flex-direction: row;
}
.nav {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.input-filter {
  justify-content: flex-start;
  padding: 0 58px 0 58.5px;
}
.input-filter,
.nav-bar,
.while-loop {
  align-self: stretch;
  box-sizing: border-box;
}
.while-loop {
  height: 1px;
  position: relative;
  border-top: 1px solid rgba(5, 24, 42, 0.3);
}
.nav-bar {
  margin-top: -13px;
  margin-bottom: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 0 0;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 36px;
  color: rgba(5, 24, 42, 0.9);
  font-family: "Open Sans";
}
.math-function {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.gl-logo-2-icon {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 60px;
  object-fit: cover;
  z-index: 1;
}
.comparison-operator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 19px 0 43px;
}
.great-learning1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.assignment-operator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.logical-operator {
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.excel-for-beginner {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.output-receiver {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 7px 1px;
  font-size: 27px;
}
.frame-child {
  height: 28px;
  width: 81px;
  position: relative;
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 1px solid white;
  box-sizing: border-box;
  display: none;
}
.pivot {
  position: relative;
  z-index: 1;
}
.dependency-injection,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent {
  height: 28px;
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 1px solid white;
  flex-direction: row;
  padding: 1px 15px;
  z-index: 1;
}
.dependency-injection {
  height: 27px;
  flex-direction: column;
  padding: 0 7px 0 0;
}
.frame-item {
  height: 28px;
  width: 98px;
  position: relative;
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 1px solid white;
  box-sizing: border-box;
  display: none;
}
.formula {
  position: relative;
  z-index: 1;
}
.rectangle-group {
  height: 28px;
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 8px 1px 9px;
  z-index: 1;
}
.frame-inner {
  height: 27px;
  width: 126px;
  position: relative;
  border-radius: 100px;
  display: none;
}
.pivot-table {
  position: relative;
  z-index: 1;
}
.network-communicator,
.vector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent {
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 0 solid white;
  flex-direction: row;
  padding: 1px 8px;
  white-space: nowrap;
  z-index: 1;
}
.network-communicator {
  flex-direction: column;
  padding: 0 0 1px;
}
.event-emitter,
.subscription-manager {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.subscription-manager {
  align-items: flex-end;
  justify-content: center;
  gap: 23px;
}
.event-emitter {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 25px 0 35px;
  box-sizing: border-box;
  font-size: 21px;
}
.rectangle-icon {
  height: 27px;
  width: 84px;
  position: relative;
  border-radius: 100px;
  display: none;
}
.charts {
  position: relative;
  z-index: 1;
}
.rectangle-div,
.vector-group {
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
}
.vector-group {
  border: 0 solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 11px 0 9px;
  z-index: 1;
}
.rectangle-div {
  height: 28px;
  width: 81px;
  position: relative;
  border: 1px solid white;
  box-sizing: border-box;
  display: none;
}
.graph {
  position: relative;
  z-index: 1;
}
.rectangle-container {
  height: 28px;
  border-radius: 100px;
  background-color: rgba(28, 140, 139, 0.55);
  border: 1px solid white;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 2px 11px 1px;
  z-index: 1;
}
.mapper,
.rectangle-container,
.reducer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.reducer {
  height: 27px;
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.mapper {
  width: 351px;
  justify-content: flex-start;
  padding: 0 69px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child1 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k,
.view {
  position: relative;
  z-index: 1;
}
.view {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.formatter,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px 9px;
  gap: 9px;
  z-index: 1;
}
.formatter {
  flex-direction: column;
  padding: 1px 0 0;
}
.validator-child {
  height: 19px;
  width: 110px;
  position: relative;
  z-index: 1;
}
.validator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
  color: black;
}
.image-11-icon {
  width: 32px;
  height: 18px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.event-subscriber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.image-4-icon,
.image-5-icon {
  height: 18px;
  width: 74px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-4-icon {
  width: 89px;
}
.random-number-generator {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.transformer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15.5px;
  max-width: 100%;
}
.image-3-icon {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.text-parser {
  width: 361px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.accumulator,
.great-learning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.accumulator {
  width: 375px;
  align-items: flex-end;
  gap: 20px;
  font-size: 20px;
}
.great-learning {
  width: 457px;
  align-items: flex-start;
  padding: 18px 20px 17px;
  box-sizing: border-box;
  position: relative;
  gap: 37px;
}
.output-splitter {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.image-17-icon {
  height: 122.7px;
  width: 120px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.error-handler {
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.fundamental-of-digital,
.google1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.google1 {
  font-weight: 400;
}
.decision-maker,
.loop-manager {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.loop-manager {
  width: 391px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.decision-maker {
  flex-direction: column;
  justify-content: flex-start;
  gap: 42.14999999999998px;
}
.frame-child2 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k1,
.view1 {
  position: relative;
  z-index: 1;
}
.view1 {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.rectangle-parent1,
.switcher {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px 9px;
  gap: 12px;
  z-index: 1;
}
.switcher {
  flex-direction: column;
  padding: 1px 0 0;
}
.data-writer-child {
  height: 19px;
  width: 136px;
  position: relative;
  z-index: 1;
}
.data-writer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.image-18-icon,
.image-19-icon,
.image-20-icon {
  height: 18px;
  width: 32px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-19-icon,
.image-20-icon {
  width: 74px;
}
.image-20-icon {
  width: 89px;
}
.analyzer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.image-12-icon {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.controller,
.splitter {
  display: flex;
  align-items: flex-start;
}
.controller {
  width: 303px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.splitter {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  max-width: 100%;
}
.combiner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 31px;
  box-sizing: border-box;
}
.combiner,
.data-reader,
.function-tree,
.google {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-reader {
  align-self: stretch;
  flex-direction: column;
  gap: 29px;
  font-size: 15px;
  color: black;
}
.function-tree,
.google {
  box-sizing: border-box;
}
.google {
  flex: 1;
  flex-direction: column;
  padding: 19px 18px 11px 32px;
  position: relative;
  gap: 125px;
}
.function-tree {
  width: 457px;
  flex-direction: row;
  padding: 0 0 7px;
}
.calculator {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.image-22-icon {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 125px;
  object-fit: cover;
  z-index: 1;
}
.sequencer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.leveraging-ai-for {
  margin: 0;
}
.content-creation {
  margin: 0;
  white-space: pre-wrap;
}
.coursera1,
.leveraging-ai-for-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.coursera1 {
  font-weight: 400;
}
.prioritizer {
  width: 319px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.comparator,
.regulator,
.scheduler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scheduler {
  flex-direction: column;
  gap: 11px;
}
.comparator,
.regulator {
  max-width: 100%;
}
.regulator {
  flex: 1;
  flex-direction: column;
  gap: 26px;
}
.comparator {
  width: 356px;
  flex-direction: row;
  padding: 0 7px;
  box-sizing: border-box;
}
.frame-child3 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k2,
.view2 {
  position: relative;
  z-index: 1;
}
.view2 {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.hub,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent2 {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px 9px;
  gap: 19px;
  z-index: 1;
}
.hub {
  flex-direction: column;
  padding: 1px 0 0;
}
.connector-child {
  height: 19px;
  width: 110px;
  position: relative;
  z-index: 1;
}
.connector {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.image-18-icon1,
.image-19-icon1,
.image-20-icon1 {
  height: 18px;
  width: 32px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-19-icon1,
.image-20-icon1 {
  width: 74px;
}
.image-20-icon1 {
  width: 89px;
}
.redirector {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.router,
.unloader {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.router {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
}
.unloader {
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}
.image-13-icon {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.collector {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.coursera,
.loader {
  flex-direction: column;
  align-items: flex-end;
}
.loader {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
  font-size: 15px;
  color: black;
}
.coursera {
  flex: 1;
  padding: 38px 50px 14px 32px;
  box-sizing: border-box;
  position: relative;
  gap: 126px;
}
.array-processor,
.coursera,
.mapper1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.mapper1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 14px 0 0;
  box-sizing: border-box;
}
.array-processor {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 92px;
  min-width: 306px;
}
.data-aggregator {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.image-13-icon1 {
  height: 120px;
  flex: 1;
  position: relative;
  border-radius: 100px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.network-node {
  width: 223.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 48px;
  box-sizing: border-box;
}
.higher-education,
.teaching-certificate {
  margin: 0;
}
.higher-education-teaching-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-processor,
.text-processor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-processor {
  flex: 1;
  flex-direction: column;
  gap: 22px;
}
.text-processor {
  align-self: stretch;
  flex-direction: row;
  padding: 0 70px;
}
.harvaedx {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.label-node {
  width: 363px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 37px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child4 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k3,
.view3 {
  position: relative;
  z-index: 1;
}
.view3 {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.rectangle-parent3,
.stack-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent3 {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px 9px;
  gap: 10px;
  z-index: 1;
}
.stack-node {
  flex-direction: column;
  padding: 1px 0 0;
}
.grid-node-child {
  height: 19px;
  width: 110px;
  position: relative;
  z-index: 1;
}
.grid-node {
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.image-10-icon {
  width: 32px;
  height: 18px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.symbol-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 21px 0 0;
}
.image-14-icon,
.image-15-icon {
  height: 18px;
  width: 74px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-15-icon {
  width: 89px;
}
.divider-node,
.panel-node,
.spacer-node {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.spacer-node {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.divider-node,
.panel-node {
  align-self: stretch;
  justify-content: flex-start;
}
.divider-node {
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
}
.panel-node {
  flex-direction: column;
  gap: 16px;
}
.image-9-icon {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.frame-node,
.harvaed,
.text-frame-node {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.text-frame-node {
  width: 363px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.frame-node,
.harvaed {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-node {
  gap: 20px;
  font-size: 15px;
  color: black;
}
.harvaed {
  padding: 18px 20px 17px 41px;
  box-sizing: border-box;
  position: relative;
  gap: 62px;
}
.udmey-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.image-21-icon {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.image-21-wrapper {
  width: 348px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.niche-research-how-to,
.profitable-niche-business {
  margin: 0;
}
.niche-research-how-to-container,
.udemy {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.udemy {
  font-weight: 400;
}
.form-node {
  width: 361px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.niche-research-how-to-find-a-p-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 22px;
}
.frame-parent,
.niche-research-how-to-find-a-p-parent,
.udmey-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 40px;
}
.udmey-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 10px;
  box-sizing: border-box;
}
.frame-child5 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k4,
.view4 {
  position: relative;
  z-index: 1;
}
.view4 {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.rectangle-node,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent4 {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px
    9px;
  gap: 12px;
  z-index: 1;
}
.rectangle-node {
  flex-direction: column;
  padding: 1px 0 0;
}
.group-icon {
  height: 19px;
  width: 136px;
  position: relative;
  z-index: 1;
}
.rectangle-node-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.image-18-icon2,
.image-19-icon2,
.image-20-icon2 {
  height: 18px;
  width: 32px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-19-icon2,
.image-20-icon2 {
  width: 74px;
}
.image-20-icon2 {
  width: 89px;
}
.dropdown-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.image-12-icon1 {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.progress-bar-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.arrow-node,
.frame-group,
.text-input-node,
.udmey {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text-input-node {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.arrow-node,
.frame-group,
.udmey {
  align-self: stretch;
}
.arrow-node {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
}
.frame-group,
.udmey {
  flex-direction: column;
  align-items: flex-end;
}
.frame-group {
  gap: 25px;
  font-size: 15px;
  color: black;
}
.udmey {
  padding: 14px 24px 13px 32px;
  box-sizing: border-box;
  position: relative;
  gap: 125px;
}
.prototype-node {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(
      1.15deg,
      rgba(13, 129, 178, 0.2),
      rgba(0, 179, 255, 0.16) 21%,
      rgba(0, 0, 0, 0.1) 47.5%,
      rgba(0, 179, 255, 0.14) 68%,
      transparent
    ),
    rgba(16, 162, 161, 0.55);
  filter: blur(4px);
}
.image-21-icon1 {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.master-node {
  width: 384px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 29px;
  box-sizing: border-box;
  max-width: 100%;
}
.seo-training-course {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.variable-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 33px 38px;
}
.udemy1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.layout-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 110px;
}
.frame-child6 {
  height: 24px;
  width: 112px;
  position: relative;
  border-radius: 100px;
  background-color: white;
  display: none;
}
.k5,
.view5 {
  position: relative;
  z-index: 1;
}
.view5 {
  font-size: 14px;
  color: #8d8d8d;
  backdrop-filter: blur(4px);
}
.anchor-point-node,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent5 {
  border-radius: 100px;
  background-color: white;
  flex-direction: row;
  padding: 3px 8px 3px 9px;
  gap: 10px;
  z-index: 1;
}
.anchor-point-node {
  flex-direction: column;
  padding: 1px 0 0;
}
.distribute-node-child {
  height: 19px;
  width: 136px;
  position: relative;
  z-index: 1;
}
.distribute-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 10px;
  gap: 20px;
  font-size: 15px;
  color: black;
}
.image-18-icon3,
.image-19-icon3,
.image-20-icon3 {
  height: 18px;
  width: 32px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  min-height: 18px;
  z-index: 1;
}
.image-19-icon3,
.image-20-icon3 {
  width: 74px;
}
.image-20-icon3 {
  width: 89px;
}
.control-flow,
.logic-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.control-flow {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.logic-node {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 30px 0 38px;
  box-sizing: border-box;
}
.image-12-icon2 {
  height: 32px;
  width: 127px;
  position: relative;
  border-radius: 100px;
  object-fit: cover;
  z-index: 1;
}
.output-provider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 8px;
}
.layer-node,
.udmey-seo {
  align-items: flex-start;
  box-sizing: border-box;
}
.udmey-seo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 24px 13px
    32px;
  position: relative;
  gap: 15px;
  max-width: 100%;
}
.layer-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0 6px 0 0;
}
.distributor,
.layer-node,
.switch-case {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.distributor {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 78px;
  min-width: 301px;
}
.switch-case {
  width: 1091px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 157px;
}
.background,
.for-loop {
  box-sizing: border-box;
  max-width: 100%;
}
.for-loop {
  width: 1397px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  text-align: left;
  font-size: 25px;
  color: white;
  font-family: Inter;
}
.background {
  width: 1445px;
  height: 494px;
  background-color: rgba(19, 238, 252, 0.1);
  border: 5px solid white;
  display: none;
}
.background,
.logo,
.rule {
  position: relative;
}
.logo {
  width: 84px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.rule {
  height: 2px;
  width: 187px;
  border-top: 2px solid rgba(5, 24, 42, 0.9);
  box-sizing: border-box;
  z-index: 1;
}
.constant-provider {
  width: 1093px;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.unlock-the-path {
  margin: 0;
  width: 413px;
  position: relative;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.alles-2023,
.alles-affiliate-marketing {
  align-self: stretch;
  position: relative;
  line-height: 125%;
  z-index: 1;
}
.alles-2023 {
  line-height: 100%;
}
.comparison-node,
.sequence-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sequence-node {
  align-self: stretch;
  gap: 24px;
}
.comparison-node {
  width: 187px;
  padding: 24px 0 0;
  box-sizing: border-box;
  font-size: 12px;
}
.rule1 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid rgba(5, 24, 42, 0.9);
  box-sizing: border-box;
}
.about1,
.home1 {
  cursor: pointer;
}
.about1,
.contact1,
.home1,
.learning2,
.testimonial1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
}
.contact1,
.learning2 {
  cursor: pointer;
}
.options {
  width: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  cursor: pointer;
  z-index: 1;
}
.rule2,
.signal-node {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.rule2 {
  height: 2px;
  border-top: 2px solid rgba(5, 24, 42, 0.9);
  box-sizing: border-box;
}
.signal-node {
  line-height: 100%;
}
.timer-node {
  width: 206px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 24px;
}
.helloallescom,
.helloallescom1 {
  line-height: 100%;
  display: inline-block;
  white-space: nowrap;
}
.helloallescom {
  position: absolute;
  margin: 0 !important;
  top: -15px;
  left: 0;
  z-index: 1;
}
.helloallescom1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 78px;
  font-style: italic;
  font-weight: 300;
  font-family: inherit;
  background: linear-gradient( 18deg, rgb(0, 28, 255) 30.5%, rgb(5, 255, 0) 50.51%, rgb(0, 52, 255) 90.00% ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  z-index: 2;
}
.event-node,
.file-handler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.event-node {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.file-handler {
  width: 599px;
  flex-direction: column;
  gap: 39px;
}
.join-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: 40px;
}
.function-caller5,
.join-node,
.variable-holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.variable-holder {
  flex: 1;
  flex-direction: column;
}
.function-caller5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 5px 0 10px;
  box-sizing: border-box;
}
.alles1 {
  margin: 0;
  height: 77px;
  width: 172px;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  z-index: 2;
}
.facebook-icon,
.instagram-icon,
.phone-icon,
.twitter-icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
  z-index: 1;
}
.client-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.server-node,
.web-node {
  width: 422px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}
.web-node {
  width: 901px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px 0 0;
  gap: 20px;
  font-size: 64px;
}
.footer,
.learning {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  border-top: 2px solid white;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 73px 0 85px 40px;
  gap: 54px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: rgba(5, 24, 42, 0.9);
  font-family: "Open Sans";
}
.learning {
  width: 100%;
  position: relative;
  background-color: rgba(120, 200, 205, 0.28);
  align-items: flex-end;
  gap: 28px;
  min-height: 2624px;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .join-node {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .switch-case {
    gap: 0 78px;
  }
}
@media screen and (max-width: 825px) {
  .input-filter {
    padding-left: 29px;
    padding-right: 29px;
    box-sizing: border-box;
  }
  .nav-bar {
    gap: 16px 32px;
  }
  .subscription-manager {
    flex-wrap: wrap;
  }
  .coursera {
    padding-top: 25px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .array-processor {
    gap: 46px 92px;
  }
  .switch-case {
    gap: 0 39px;
  }
  .unlock-the-path {
    font-size: 26px;
    line-height: 26px;
  }
  .helloallescom1 {
    font-size: 50px;
    line-height: 50px;
  }
  .file-handler {
    gap: 19px 39px;
  }
  .join-node {
    gap: 40px 20px;
  }
  .alles1 {
    font-size: 51px;
    line-height: 51px;
  }
  .web-node {
    flex-wrap: wrap;
  }
  .footer {
    gap: 27px 54px;
    padding-top: 47px;
    padding-bottom: 55px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .great-learning1 {
    font-size: 20px;
  }
  .excel-for-beginner {
    font-size: 22px;
  }
  .formula,
  .pivot {
    font-size: 17px;
  }
  .charts,
  .graph {
    font-size: 16px;
  }
  .mapper {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .random-number-generator,
  .validator {
    flex-wrap: wrap;
  }
  .great-learning {
    gap: 18px 37px;
  }
  .fundamental-of-digital,
  .google1 {
    font-size: 20px;
  }
  .decision-maker {
    gap: 21px 42.1px;
  }
  .analyzer,
  .data-writer {
    flex-wrap: wrap;
  }
  .analyzer {
    justify-content: center;
  }
  .google {
    gap: 62px 125px;
  }
  .coursera1,
  .leveraging-ai-for-container {
    font-size: 20px;
  }
  .connector,
  .redirector {
    flex-wrap: wrap;
  }
  .redirector {
    justify-content: center;
  }
  .coursera {
    gap: 63px 126px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .higher-education-teaching-container {
    font-size: 20px;
  }
  .text-processor {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .harvaedx {
    font-size: 20px;
  }
  .grid-node,
  .spacer-node {
    flex-wrap: wrap;
  }
  .harvaed {
    gap: 31px 62px;
  }
  .niche-research-how-to-container,
  .udemy {
    font-size: 20px;
  }
  .frame-parent {
    gap: 20px 40px;
  }
  .rectangle-node-parent {
    flex-wrap: wrap;
  }
  .dropdown-node {
    flex-wrap: wrap;
    justify-content: center;
  }
  .udmey {
    gap: 62px 125px;
  }
  .seo-training-course,
  .udemy1 {
    font-size: 20px;
  }
  .control-flow,
  .distribute-node {
    flex-wrap: wrap;
    justify-content: center;
  }
  .distributor {
    gap: 39px 78px;
  }
  .switch-case {
    gap: 0 20px;
  }
  .unlock-the-path {
    font-size: 19px;
    line-height: 19px;
  }
  .alles1,
  .helloallescom1 {
    font-size: 38px;
    line-height: 38px;
  }
  .client-node {
    flex-wrap: wrap;
    justify-content: center;
  }
}

a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.options a:hover{
  color: white;
  font-weight: 800;
  font-size: large;
}

.event-node a:hover{
  color: white;
  font-weight: 800;
  font-size: large;
}

.timer-node a:hover{
  color: white;
  font-weight: 800;
  font-size: large;
}

.sequence-controller a:hover{
  color: white;
  font-weight: 800;
  font-size: large;
}

.testimonial10:hover{
  color: white;
  font-size: large;
  font-weight: 800;
}